{
	"semi": true,
	"useTabs": true,
	"trailingComma": "es5",
	"singleQuote": true,
	"printWidth": 80,
	"endOfLine": "auto",
	"bracketSameLine": true,
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"overrides": [
		{
			"files": "*.component.html",
			"options": {
				"parser": "angular"
			}
		},
		{
			"files": "*.html",
			"options": {
				"parser": "html"
			}
		}
	]
}
